@model Downloader.Common.Models.BaseRssSourceModel

<form asp-action="UpdateRssSource">
    <fieldset class="rss-source-form">
        @Html.LabelFor(m => m.Url)
        @Html.TextBoxFor(m => m.Url)
        @Html.ValidationMessageFor(m => m.Url)

        <input type="hidden" name="Guid" id="Guid" value="@Model.Guid">

        <button type="submit">Update</button>
        <button type="submit" asp-action="DeleteRssSource" asp-route-rssSourceGuid="@Model.Guid">Delete</button>
    </fieldset>
</form>
