@model ICollection<Downloader.Common.Models.NewsItem>
@{
    ViewData["Title"] = "News";
}

@if (!Model.Any())
{
    <h1>There is no news</h1>
}
else
{
    <h1 class="news-block_header">@ViewData["Title"]</h1>

    <div class="news-block">
        @foreach (var newsItem in Model)
        {
            <article>
                <h3>@newsItem.Title</h3>
                <time class="text__calm" datetime="@newsItem.PublishDate.ToString("s")">@newsItem.PublishDate.ToString("D")</time>
                @Html.Raw(newsItem.Description)
            </article>
        }
    </div>
}
